PetShop/Eclipse/eclipse/plugins/com.omondo.uml.wtp_1.4.0.v20090618/lib/XMLBeans_common.project.facet.core.xml/WTP.Project.Facet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="faceted-project" type="faceted-projectType"/>
  <xs:complexType name="installedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="facet" use="optional"/>
        <xs:attribute type="xs:float" name="version" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="fixedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="facet" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="faceted-projectType">
    <xs:sequence>
      <xs:element type="fixedType" name="fixed" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="installedType" name="installed" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>